@font-face {
    font-family: trend;
    src: url(../fonts/Trend.otf);
}

@font-face {
    font-family: acre;
    src: url(../fonts/Acre.otf);
}

*{
    font-family: acre;
    color: white;
}

p{
    font-size: larger;
}

h1{
    font-size: 10vh;
}

.nav-link{
    padding: 15px 32px;
}

.button-green{
    background-color: #00c49d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    border-radius: 50px;
    font-weight: bold;
}

a:hover, a:visited, a:link, a:active
{
    color: white;
    text-decoration: none;
}


body {
    overflow: overlay;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(256,256,256,0.25);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(256,256,256,0.5);
    border-radius: 10px;
}

.rectangle {
    height: 20px;
    width: 100px;
    background-color: #00c49d;
}

.acuo-green{
    color: #00c49d;
}

.card-green {
    background-color: #00c49d;
    border: none;
    border-radius: 10px;
    padding: 20px;
}

.card-green-outline {
    border: solid #00c49d;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
}

.hidden{
    display: none;
}