<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acuo</title>
    <link rel="icon" href="../assets/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Primary Meta Tags -->
    <meta name="title" content="Acuo">
    <meta name="description" content="Acuo Consulting is an education consulting firm that works directly with students to hone them to their fullest potential. By connecting youth to high-quality opportunities and offering extensive instructional services, we provide a comprehensive service that can enhance a student’s personal profile in every stage of their highschool venture. Acuo’s focus on specialized instruction, personalized advising and flexible curricula allows our programs to suit your individual needs in a way that others will be unable to match.
">
    <meta name=”robots” content=”index, follow”>
    <meta name="keywords"
          content="Tutoring, Consulting, Acuo, Burnaby, Vancouver, University, High School, School, Student, Ivy, League, Harvard, Penn, Scholarship, Financial Aid, Essay, Editing, Collegeboard, Advanced Placement, AP, mentorship, Profile, Resume">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://acuo.ca/">
    <meta property="og:title" content="Acuo Consulting">
    <meta property="og:description" content="Acuo Consulting is an education consulting firm that works directly with students to hone them to their fullest potential. By connecting youth to high-quality opportunities and offering extensive instructional services, we provide a comprehensive service that can enhance a student’s personal profile in every stage of their highschool venture. Acuo’s focus on specialized instruction, personalized advising and flexible curricula allows our programs to suit your individual needs in a way that others will be unable to match.
">
    <meta property="og:image"
          content="https://raw.githubusercontent.com/AcuoConsulting/acuoconsulting.github.io/master/assets/acuo-fb-cover.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://acuo.ca/">
    <meta property="twitter:title" content="Acuo Consulting">
    <meta property="twitter:description" content="Acuo Consulting is an education consulting firm that works directly with students to hone them to their fullest potential. By connecting youth to high-quality opportunities and offering extensive instructional services, we provide a comprehensive service that can enhance a student’s personal profile in every stage of their highschool venture. Acuo’s focus on specialized instruction, personalized advising and flexible curricula allows our programs to suit your individual needs in a way that others will be unable to match.
">
    <meta property="twitter:image"
          content="https://raw.githubusercontent.com/AcuoConsulting/acuoconsulting.github.io/master/assets/acuo-fb-cover.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/timeline.css">
    <link rel="stylesheet" type="text/css" href="../css/toggle.css">
    <link rel="stylesheet" type="text/css" href="../css/tabbar.css">
    <link rel="stylesheet" type="text/css" href="../css/hover.css">
    <!--    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">-->
    <meta name="google-site-verification" content="oqOM1qcVPevf2F8L3Yw3jm7cos3LWHtP9z-iTyzwF0I"/>
</head>
<body style="background-color: #1a1a1a">

<nav class="navbar fixed-top navbar-expand-lg navbar-dark fading-navbar" id="navbar" style="height: 10vh">
    <a class="navbar-brand px-3" href="#" style="height: 50%">
        <img src="../assets/logo-white-words.svg" class="navbar-image" style="height: 100%">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item px-4">
                <a href="#about" class="nav-link">ABOUT US</a>
            </li>
            <li class="nav-item px-4">
                <a href="#services" class="nav-link">SERVICES</a>
            </li>
            <li class="nav-item px-4">
                <a href="#our-team" class="nav-link">OUR TEAM</a>
            </li>
            <li class="nav-item px-4">
                <a href="#contact" class="nav-link">CONTACT</a>
            </li>
            <li class="nav-item px-4">
                <a href="register" class="button-green">GET IN TOUCH</a>
            </li>
        </ul>
    </div>
</nav>
<div class="text-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%)">

    <img src="../assets/logo.svg" style="width: 10vw">
    <br><br><br><br>
    <img src="../assets/logo-onlywords-white.svg" style="width: 25vw">
    <br><br><br><br>
    <a href="register" class="button-green">GET IN TOUCH</a>
    <img src="../assets/triangle-down-green.svg"
         style="height: 2vh; position: absolute; top: 110%; left: 50%; transform: translateX(-50%)" id="triangle-down">
</div>
<div class="section">
    <div style="position: absolute; top: 9vh; right: 3.2rem; font-size: 1.25em">
        <a href="/?lang=ch"> 🇨🇳 中文 >></a>
    </div>
</div>

<div id="about" class="container py-5">
    <h1 id="startchange">ABOUT US</h1>
    <div class="rectangle"></div>
    <br>
    <div class="row">
        <div class="col-lg-8">
            <p>
                Acuo is an education consultant based out of Vancouver, Canada. We are founded and led by experienced
                university mentors who have a passion for working with high school students who want to better
                themselves. As applicant pools have gotten ever more competitive over the past two decades, acceptance
                rates have hit all-time lows and continue to decrease across the board. Universities have begun heavily
                utilizing the holistic aspect of an applicant’s personal profile to make mentorship decisions. Given the
                competitive climate surrounding mentorship, there is an increasing demand for effective educational
                consulting that works.
                <br><br>
                Acuo takes an unconventional approach to educational consulting. By pairing experienced university
                mentors with high school students, we cater specifically to our students and their particular needs,
                rather than a one-size-fits-all curriculum. Utilizing our unique mentorship process allows us to assist
                our students in a holistic manner. Whether it be their academics, extracurriculars or personal
                interests, we work with students to distinguish themselves as scholars, leaders and future
                difference-makers. By connecting you to quality extracurricular opportunities and offering quality
                instructional services, we at Acuo leverage our extensive experience to help hone students to their
                fullest potential.
            </p>
        </div>
        <div class="col text-right mobile-unfriendly">
            <img src="../assets/logo.svg" style="width: 75%">
        </div>
    </div>
    <br><br>
</div>

<div id="services" class="container section py-5" style="font-size: larger">
    <h1>SERVICES</h1>
    <div class="rectangle"></div>
    <br><br>
    <div class="row consulting" id="consulting">
        <div class="col">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                <ul class="timeline">
                    <li class="timeline-item">
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">AP</h3>
                            <br>
                            <span class="timeline-bullet" onmouseover="glow('ap-cs-exams')" onmouseout="unglow('ap-cs-exams')"><img
                                    class="px-3 py-1 timeline-point"
                                    src="../assets/icons/microscope.svg"> BIOLOGY, CHEMISTRY, PHYSICS 1, 2<br><br></span></span>
                            <span class="timeline-bullet" onmouseover="glow('ap-cs-exams')" onmouseout="unglow('ap-cs-exams')"><img
                                    class="px-3 py-1 timeline-point"
                                    src="../assets/icons/differential.svg"> CALCULUS AB/BC, STATISTICS<br><br></span>
                            <span class="timeline-bullet" onmouseover="glow('ap-cs-exams')" onmouseout="unglow('ap-cs-exams')"><img
                                    class="px-3 py-1 timeline-point" src="../assets/icons/cpu.svg"> COMPUTER SCIENCE A<br><br></span>
                            <span class="timeline-bullet" onmouseover="glow('ap-cs-exams')" onmouseout="unglow('ap-cs-exams')"><img
                                    class="px-3 py-1 timeline-point" src="../assets/icons/feather.svg"> SEMINAR, RESEARCH, LITERATURE<br><br></span>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Standardized Testing</h3>
                            <br>
                            <span class="timeline-bullet" onmouseover="glow('sat-act')" onmouseout="unglow('sat-act')"><img
                                    class="px-3 py-1 timeline-point"
                                    src="../assets/icons/sat.svg"> SAT<br><br></span></span>
                            <span class="timeline-bullet" onmouseover="glow('sat-act')" onmouseout="unglow('sat-act')"><img
                                    class="px-3 py-1 timeline-point" src="../assets/icons/bar-chart.svg"> SAT 2<br><br></span>
                            <span class="timeline-bullet" onmouseover="glow('sat-act')" onmouseout="unglow('sat-act')"><img
                                    class="px-3 py-1 timeline-point"
                                    src="../assets/icons/bar-chart.svg"> ACT<br><br></span>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Mentorship</h3>
                            <br>
                            <span class="timeline-bullet" onmouseover="glow('mentorship')" onmouseout="unglow('mentorship')"><img
                                    class="px-3 py-1 timeline-point" src="../assets/icons/zap.svg"> EXTRACURRICULAR DEVELOPMENT<br><br></span></span>
                            <span class="timeline-bullet" onmouseover="glow('mentorship')" onmouseout="unglow('mentorship')"><img
                                    class="px-3 py-1 timeline-point" src="../assets/icons/feather.svg"> RESUME POLISHING<br><br></span>
                            <span class="timeline-bullet" onmouseover="glow('mentorship')" onmouseout="unglow('mentorship')"><img
                                    class="px-3 py-1 timeline-point" src="../assets/icons/users.svg"> UNIVERSITY CONSULTATION<br><br></span>
                            <span class="timeline-bullet" onmouseover="glow('mentorship')" onmouseout="unglow('mentorship')"><img
                                    class="px-3 py-1 timeline-point" src="../assets/icons/dollar-sign.svg"> SCHOLARSHIP CONSULTATION<br><br></span></span>
                            <span class="timeline-bullet" onmouseover="glow('mentorship')" onmouseout="unglow('mentorship')"><img
                                    class="px-3 py-1 timeline-point" src="../assets/icons/microscope.svg"> RESEARCH OPPORTUNITIES<br><br></span>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">H.S Coursework</h3>
                            <br>
                            <span class="timeline-bullet" onmouseover="glow('hs-work')" onmouseout="unglow('hs-work')"><img
                                    class="px-3 py-1 timeline-point" src="../assets/icons/microscope.svg"> SCIENCE 8-12<br><br></span></span>
                            <span class="timeline-bullet" onmouseover="glow('hs-work')" onmouseout="unglow('hs-work')"><img
                                    class="px-3 py-1 timeline-point" src="../assets/icons/integral.svg"> MATHEMATICS 8-12<br><br></span></span>
                            <span class="timeline-bullet" onmouseover="glow('hs-work')" onmouseout="unglow('hs-work')"><img
                                    class="px-3 py-1 timeline-point"
                                    src="../assets/icons/dollar-sign.svg"> ACCOUNTING & ECONOMICS<br><br></span>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col">
            <div class="row py-4">
                <div class="col">
                    <a class="" onclick="flipchevron('ap-cs-exams-chevron')"
                       data-toggle="collapse"
                       href="#ap-cs-exams-collapse" role="button" aria-expanded="false"
                       aria-controls="ap-cs-exams-collapse">
                        <div class="card-green-outline" id="ap-cs-exams">
                            <img src="../assets/icons/bar-chart.svg"><br><br>
                            <span class="chevron" id="ap-cs-exams-chevron">›</span> AP COURSEWORK & EXAMS
                            <div class="collapse" id="ap-cs-exams-collapse">
                                <hr>
                                <p class="consulting-services">
                                    Advanced Placement (AP) Exams challenge high school students with college-level
                                    material. Success shows readiness for academically rigorous post-secondary studies,
                                    a key differentiator among strong applicants, and can yield college course credit.
                                    Acuo instructors have over 3 years’ experience in AP instruction, and have received
                                    the maximum score of 5 on over 17 different AP exams combined. As National AP
                                    Scholars, we are able to provide targeted instruction and advice proven to yield
                                    results from personal experience.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row py-4">
                <div class="col">
                    <a class="" onclick="flipchevron('sat-act-chevron')"
                       data-toggle="collapse"
                       href="#sat-act-collapse" role="button" aria-expanded="false"
                       aria-controls="sat-act-collapse">
                        <div class="card-green-outline" id="sat-act">
                            <img src="../assets/icons/bar-chart.svg"><br><br>
                            <span class="chevron" id="sat-act-chevron">›</span> STANDARDIZED TESTING
                            <div class="collapse " id="sat-act-collapse">
                                <hr>
                                <p class="consulting-services">
                                    High standardized testing scores can significantly boost the strength of a college
                                    application by objectively indicating strong academic ability. Acuo instructors have
                                    over 2 years’ experience in standardized testing instruction, and have obtained
                                    maximum scores on the SAT and numerous SAT Subject Tests, as well as top-percentile
                                    scores on many others.

                                    *Our personalized private instruction is designed to assist students’ specific
                                    needs. We work with students on their skill development and testing strategy in a
                                    comprehensive and efficient manner.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row py-4">
                <div class="col">
                    <a class="" onclick="flipchevron('hs-work-chevron')"
                       data-toggle="collapse"
                       href="#hs-work-collapse" role="button" aria-expanded="false"
                       aria-controls="hs-work-collapse">
                        <div class="card-green-outline" id="hs-work">
                            <img src="../assets/icons/book-open.svg"><br><br>
                            <span class="chevron" id="hs-work-chevron">›</span> HIGH SCHOOL COURSEWORK
                            <div class="collapse " id="hs-work-collapse">
                                <hr>
                                <p class="consulting-services">
                                    Excellence in academic coursework translates to a standout high school grade point
                                    average, one of the most important factors in mentorship decisions. Acuo instructors
                                    have over 4 years of experience in high school course instruction, and have received
                                    99%+ percentage averages in high school studies. In addition to providing targeted
                                    instruction, we, as recent graduates, bring a personal understanding of the high
                                    school experience and curriculum.

                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row py-4">
                <div class="col">
                    <a class="" onclick="flipchevron('mentorship-chevron')"
                       data-toggle="collapse"
                       href="#mentorship-collapse" role="button" aria-expanded="false"
                       aria-controls="mentorship-collapse">
                        <div class="card-green-outline" id="mentorship">
                            <img src="../assets/icons/user.svg"><br><br>
                            <span class="chevron" id="mentorship-chevron">›</span> MENTORSHIP
                            <div class="collapse " id="mentorship-collapse">
                                <hr>
                                <p class="consulting-services">
                                    College mentorship preparations extend outside the classroom. In particular,
                                    standout extra-curricular activities separate great applicants from the rest, by
                                    demonstrating vision and career direction. We at Acuo have mentored over dozens of
                                    students on an individual basis for summer programs, university mentorship, academic
                                    research, and scholarships. Our mentees have accessed research internships at
                                    prominent institutions including SFU, UBC, UC Santa Barbara, as well as entrance
                                    scholarships ranging up to the full-ride UBC Centennial Scholars scholarship under
                                    our individualized support.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="our-team" class="container py-5 section">
    <h1>OUR TEAM</h1>
    <div class="rectangle"></div>
    <br>
    <div class="row pt-5">
        <div class="col-sm-3 text-center pr-5" style="font-size: x-large">
            <img class="profile-picture" src="../assets/profile-pictures/charley.png" style="height: 15vh">
            <br><br>
            <h2 class="acuo-green">Charley Cai</h2>
            <h4>UBC 2023</h4>
            <br>
            <div class="row justify-content-center">
                <a href="https://www.linkedin.com/in/charley-cai/">
                    <div class="col-sm-auto linked-in-icon"
                         style="border: #00c49d 2px solid; border-radius: 10px; width: 50px; height: 50px; ">
                        <img class="" src="../assets/social-media/linkedin.svg"
                             style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%)">
                    </div>
                </a>
            </div>
            <br>
        </div>
        <div class="col">
            <p>
                Charley is currently completing his combined major in Microbiology/Immunology and Computer Science at
                the University of British Columbia under UBC’s $80,000 Presidential Scholars Award. He has excelled in
                various STEM fields and has been heavily involved with academic research in microbiology and
                bioinformatics since high school. Over the past years, Charley has enjoyed sharing how he sought his own
                aspirations and has mentored over a dozen students towards their academic ambitions.
            </p>

            <br>
            <h2 class="acuo-green" style="font-size: 2em">
                HIGHLIGHTS
            </h2>
            <div class="">
                <div class="row">
                    <div class="col py-3">
                        <a>
                                <img src="../assets/icons/dollar-sign.svg"><br><br>
                                <p><span class="chevron">››</span> $150,000+ Major Entrance Scholarships from UBC, UofT, McGill, and UWaterloo
                                </p>
                        </a>
                    </div>
                    <div class="w-100"></div>
                    <div class="col py-3">
                        <a>
                                <img src="../assets/icons/grad-hat.svg"><br><br>
                                <p><span class="chevron">››</span> Project Presenter - 2020 Harvard National Collegiate Research Conference
                                </p>
                        </a>
                    </div>
                    <div class="w-100"></div>
                    <div class="col py-3">
                        <a>
                                <img src="../assets/icons/erlenmeyerflask.svg"><br><br>
                                <p><span class="chevron">››</span> Team BC Silver Medalist - 2019 Canada Wide Science Fair
                                </p>
                        </a>
                    </div>
                    <div class="w-100"></div>
                    <div class="col py-3">
                        <a>
                                <img src="../assets/icons/microscope.svg"><br><br>
                                <p><span class="chevron">››</span> Researcher at UBC, UCSB, and SFU in Microbiology and Computational Biology
                                </p>
                        </a>
                    </div>
                    <div class="w-100"></div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <hr>
    <div class="row pt-5">
        <div class="col-sm-3 text-center pr-5" style="font-size: x-large">
            <img class="profile-picture" src="../assets/profile-pictures/brian.png" style="height: 15vh">
            <br><br>
            <h2 class="acuo-green">Brian Ji</h2>
            <h4>UPenn 2024</h4>
            <br>
            <div class="row justify-content-center">
                <a href="https://www.linkedin.com/in/brianjiangji/">
                    <div class="col-sm-auto linked-in-icon"
                         style="border: #00c49d 2px solid; border-radius: 10px; width: 50px; height: 50px; ">
                        <img class="" src="../assets/social-media/linkedin.svg"
                             style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%)">
                    </div>
                </a>
            </div>
            <br>
        </div>
        <div class="col">
            <p>
                Brian Ji is an incoming freshman at the University of Pennsylvania’s College of Arts and Sciences,
                pursuing a major in Neuroscience along with a minor in Healthcare Management from the Wharton School of
                Business. He has been engaged in multiple interdisciplinary research projects throughout his high school
                career in various academic fields such as quantum physics and cardiac physiology. Brian is particularly
                passionate about youth education, having spent over four years of working in the education industry.
            </p>

            <br>
            <h2 class="acuo-green" style="font-size: 2em">
                HIGHLIGHTS
            </h2>
            <div class="">
                <div class="row">
                    <div class="col py-3">
                        <a>
                                <img src="../assets/icons/users.svg"><br><br>
                                <p><span class="chevron">››</span> 1st Place - 2020 Harvard Global Health Case Study Competition
                                </p>
                        </a>
                    </div>
                    <div class="w-100"></div>
                    <div class="col py-3">
                        <a>
                                <img src="../assets/icons/users.svg"><br><br>
                                <p><span class="chevron">››</span> 1st Place - 2019 SFU Public Forum Debate Tournament
                                </p>
                        </a>
                    </div>
                    <div class="w-100"></div>
                    <div class="col py-3">
                        <a>
                                <img src="../assets/icons/cpu.svg"><br><br>
                                <p><span class="chevron">››</span> Researcher within AMO Physics Research Group for Radium Qubit Optimization
                                </p>
                        </a>
                    </div>
                    <div class="w-100"></div>
                    <div class="col py-3">
                        <a>
                                <img src="../assets/icons/microscope.svg"><br><br>
                                <p><span class="chevron">››</span> Project Presenter - 2019 Centre for Cell Biology, Development, and Disease Research Conference
                                </p>
                        </a>
                    </div>
                    <div class="w-100"></div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <hr>
    <div class="row pt-5">
        <div class="col-sm-3 text-center pr-5" style="font-size: x-large">
            <img class="profile-picture" src="../assets/profile-pictures/selwyn.jpg" style="height: 15vh">
            <br><br>
            <h2 class="acuo-green">Selwyn Gu</h2>
            <h4>UBC 2024</h4>
            <br>
            <div class="row justify-content-center">
                <a href="https://www.linkedin.com/in/selwyn-gu/">
                    <div class="col-sm-auto linked-in-icon"
                         style="border: #00c49d 2px solid; border-radius: 10px; width: 50px; height: 50px; ">
                        <img class="" src="../assets/social-media/linkedin.svg"
                             style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%)">
                    </div>
                </a>
            </div>
            <br>
        </div>
        <div class="col">
            <p>
                Selwyn is an incoming freshman at the University of British Columbia’s Faculty of Science, with an
                intended specialization in Cell and Developmental Biology. His academic research endeavours have led to
                work on projects in biotechnology and molecular biology. Selwyn is enthusiastic about academic
                development, with over two years’ experience in providing academic assistance to high school students.
            </p>

            <br>
            <h2 class="acuo-green" style="font-size: 2em">
                HIGHLIGHTS
            </h2>
            <div class="">
                <div class="row">
                    <div class="col py-3">
                        <a>
                                <img src="../assets/icons/bar-chart.svg"><br><br>
                                <p><span class="chevron">››</span> 1600 SAT and 800 SAT Math Level 2, Physics and Biology E Subject Tests
                                </p>
                        </a>
                    </div>
                    <div class="w-100"></div>
                    <div class="col py-3">
                        <a>
                                <img src="../assets/icons/microscope.svg"><br><br>
                                <p><span class="chevron">››</span> Researcher at UC Santa Barbara’s Department of Molecular, Cellular and Developmental Biology
                                </p>
                        </a>
                    </div>
                    <div class="w-100"></div>
                    <div class="col py-3">
                        <a>
                                <img src="../assets/icons/testtube.svg"><br><br>
                                <p><span class="chevron">››</span> 99th Percentile - University of Toronto National Biology Competition
                                </p>
                        </a>
                    </div>
                    <div class="w-100"></div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <hr>
    <div class="row pt-5">
        <div class="col-sm-3 text-center pr-5" style="font-size: x-large">
            <img class="profile-picture" src="../assets/profile-pictures/frank.jpg" style="height: 15vh">
            <br><br>
            <h2 class="acuo-green">Frank Hui</h2>
            <h4>UBC 2024</h4>
            <br>
            <div class="row justify-content-center">
                <a href="https://frankwhoee.codes">
                    <div class="col-sm-auto linked-in-icon"
                         style="border: #00c49d 2px solid; border-radius: 10px; width: 50px; height: 50px;">
                        <img class="" src="../assets/social-media/globe.svg"
                             style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%)">
                    </div>
                </a>
            </div>
            <br>
        </div>
        <div class="col">
            <p>
                Frank is an incoming freshman at the University of British Columbia in the Faculty of Sciences and
                intends
                to major in Computer Science. His academic pursuits has led him to win awards such as a Silver Medal and
                Best Computer Science Project at the Greater Vancouver Regional Science Fair and top 20 at nwHacks 2019.
                He is also currently a volunteer researcher at Simon Fraser University within the Computer Science
                Department.
            </p>

            <br>
            <h2 class="acuo-green" style="font-size: 2em">
                HIGHLIGHTS
            </h2>

            <div class="">
                <div class="row">
                    <div class="col py-3">
                        <a>
                                <img src="../assets/icons/github.svg"><br><br>
                                <p><span class="chevron">››</span> 2000+ contributions on Github and 6+ year coding experience
                                </p>
                        </a>
                    </div>
                    <div class="w-100"></div>
                    <div class="col py-3">
                        <a>
                                <img src="../assets/icons/book-open.svg"><br><br>
                                <p><span class="chevron">››</span> Fluent in Java, Javascript, Python, R
                                </p>
                        </a>
                    </div>
                    <div class="w-100"></div>
                    <div class="col py-3">
                        <a>
                                <img src="../assets/icons/box.svg"><br><br>
                                <p><span class="chevron">››</span> Rank 33 out of 5,832 in the Two Sigma Investments AI Challenge
                                </p>
                        </a>
                    </div>
                    <div class="w-100"></div>
                    <div class="col py-3">
                        <a>
                                <img src="../assets/icons/microscope.svg"><br><br>
                                <p><span class="chevron">››</span> SFU Assistant Developer - Optimized Robinson-Foulds distribution computation
                                </p>
                        </a>
                    </div>
                    <div class="w-100"></div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>

<div id="contact" class="container py-5 text-center">
    <h1>CONTACT</h1>
    <br><br>
    <h2>Have other questions?</h2>
    <h4>Reach out to us at <u><a href="mailto:contact@acuo.ca">contact@acuo.ca</a></u></h4>

    <br>
</div>

<div class="container text-center" style="padding-top: 10vh; padding-bottom: 10vh">
    <img src="../assets/logo.svg" style="width: 10vh">
    <br><br><br>
    <p>
        ACUO <br>
        Latin: [ˈa.kʊ.oː] <br>
        <li> To make pointed, sharpen, whet.
    <li> To exercise, practice, improve.
    </p>
    <br><br><br>
    <div class="row justify-content-center">
        <a href="https://www.facebook.com/acuo.consulting/">
            <div class="col-sm-auto hvr-float">
                <img src="../assets/social-media/facebook.svg">
            </div>
        </a>
        <a href="https://www.instagram.com/acuo.consulting/">
            <div class="col-sm-auto hvr-float">
                <img src="../assets/social-media/instagram.svg">
            </div>
        </a>
<!--        <a href="http://linkedin.com/company/acuoconsulting">-->
<!--            <div class="col-sm-auto hvr-float">-->
<!--                <img src="../assets/social-media/linkedin.svg">-->
<!--            </div>-->
<!--        </a>-->
<!--        <a>-->
<!--            <div class="col-sm-auto hvr-float">-->
<!--                <img src="../assets/social-media/wechat.svg">-->
<!--            </div>-->
<!--        </a>-->
    </div>
    <br>
    <p>
        <u><a href="mailto:contact@acuo.ca"> contact@acuo.ca</a></u>
    </p>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"
        integrity="sha256-hBMojZuWKocCflyaG8T19KBq9OlTlK39CTxb8AUWKhY=" crossorigin="anonymous"></script>
<!--<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>-->
<script src="../js/main.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        contentHeight = document.getElementsByClassName("english")[0].clientHeight
        targetHeight = contentHeight + $('#ap-exams-header').height() + $('#tabbar-ap-exams').height() + 40
        $(".ap-card").css({height: targetHeight})
        document.getElementById("instruction").classList.add("hidden")
    });

    function glow(id) {
        console.log(id)
        document.getElementById(id).classList.add("glow")
    }

    function unglow(id) {
        document.getElementById(id).classList.remove("glow")
    }

    $('.ap-collapse').on('shown.bs.collapse', function () {
        console.log("collapse")
        contentHeight = this.parentNode.parentNode.parentNode.parentNode.parentNode.clientHeight
        console.log(this.parentNode.parentNode.parentNode.parentNode.parentNode)
        targetHeight = contentHeight + $('#ap-exams-header').height() + $('#tabbar-ap-exams').height() + 40
        $(".ap-card").css({height: targetHeight})
    }).on('show.bs.collapse', function () {

    });

    $('.ap-collapse').on('hidden.bs.collapse', function () {
        contentHeight = this.parentNode.parentNode.parentNode.parentNode.parentNode.clientHeight
        targetHeight = contentHeight + $('#ap-exams-header').height() + $('#tabbar-ap-exams').height() + 40
        $(".ap-card").css({height: targetHeight})
    }).on('hide.bs.collapse', function () {

    });

    anime({
        targets: '#triangle-down',
        translateY: 50,
        opacity: 0,
        direction: 'alternate',
        loop: true,
        easing: 'easeInOutSine'
    });

    function setAutoHeight() {
        $('.card-green-outline').css('height', 'auto')
    }

    async function onSwitch(section) {
        console.log("switch")
        await anime({
            targets: '.ap-section',
            translateY: 50,
            opacity: 0,
            easing: 'easeInOutExpo'
        }).finished
        console.log("anim1 finished")

        document.getElementsByClassName(section)[0].classList.remove("hidden")
        contentHeight = document.getElementsByClassName(section)[0].clientHeight
        document.getElementsByClassName(section)[0].classList.add("hidden")
        targetHeight = contentHeight + $('#ap-exams-header').height() + $('#tabbar-ap-exams').height() + 40
        await $(".ap-card").css({height: $('#ap-card').height()}).animate({
            height: targetHeight
        }, 500)
        document.getElementById("ap-card").style.height = targetHeight
        console.log("anim2 finished")

        els = document.getElementsByClassName('ap-section')
        for (el in els) {
            try {
                els[el].classList.add("hidden")
            } catch (e) {

            }
        }

        anime.set('.' + section, {
            translateY: 50,
            opacity: 0
        })

        $('#' + section + '-section')[0].classList.remove("hidden")
        await anime({
            targets: '.' + section,
            translateY: 0,
            opacity: 1,
            easing: 'easeInOutExpo'
        }).finished
        console.log("anim3 finished")
    }

    async function onSwitchTesting(section) {
        await anime({
            targets: '.testing-section',
            translateY: 50,
            opacity: 0,
            easing: 'easeInOutExpo'
        }).finished

        els = document.getElementsByClassName('testing-section')
        for (el in els) {
            try {
                els[el].classList.add("hidden")
            } catch (e) {

            }
        }

        anime.set('.' + section, {
            translateY: 50,
            opacity: 0
        })

        $('#' + section + '-section')[0].classList.remove("hidden")
        anime({
            targets: '.' + section,
            translateY: 0,
            opacity: 1,
            easing: 'easeInOutExpo'
        })
    }

    async function swapService() {
        if (document.getElementById('serviceToggle').classList.contains("active")) {
            document.getElementById("consulting-header").classList.add("acuo-green")
            document.getElementById("instruction-header").classList.remove("acuo-green")
            await anime({
                targets: '.instruction',
                translateX: '-25vw',
                opacity: 0,
                scale: 0.5,
                easing: 'easeInOutExpo'
            }).finished
            anime.set('.consulting', {
                translateX: '25vw',
                opacity: 0,
                scale: 0.5
            })
            document.getElementById('consulting').classList.remove("hidden")
            document.getElementById('instruction').classList.add("hidden")
            await anime({
                targets: '.consulting',
                translateX: 0,
                opacity: 1,
                scale: 1,
                easing: 'easeInOutExpo'
            }).finished

        } else {
            document.getElementById("consulting-header").classList.remove("acuo-green")
            document.getElementById("instruction-header").classList.add("acuo-green")
            await anime({
                targets: '.consulting',
                translateX: '25vw',
                opacity: 0,
                scale: 0.5,
                easing: 'easeInOutExpo'
            }).finished
            anime.set('.instruction', {
                translateX: '-25vw',
                opacity: 0,
                scale: 0.5
            })
            document.getElementById('consulting').classList.add("hidden")
            document.getElementById('instruction').classList.remove("hidden")
            await anime({
                targets: '.instruction',
                translateX: 0,
                opacity: 1,
                scale: 1,
                easing: 'easeInOutExpo'
            }).finished

        }


    }
</script>
</body>
</html>
