<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acuo</title>
    <link rel="icon" href="../assets/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/timeline.css">
    <link rel="stylesheet" type="text/css" href="../css/materialize.css">
    <style>
        p {
            transition: color 0.3s ease-in-out;
        }

        * {
            text-overflow: ellipsis;
        }

        span {
            color: #00c49d;
        }

        #main-container {
            width: 40%;
        }

        @media screen and (max-width: 800px) /* height >= 820 px */ {
            #main-container {
                width: 90%;
            }
        }
    </style>
</head>
<body style="background-color: #1a1a1a">

<div class="container text-center p-5">
    <a href="/"><img src="../assets/logo.svg" style="width: 5vw"></a>
    <br><br><br>
    <a href="/"><img src="../assets/icons/arrow-left.svg" style="height: 1vw" id="left-arrow"></a>
</div>

<div class="container py-2" id="main-container">
    <form id="registration_form">
        <h5>To get started with <span class="acuo-green">Acuo</span>, fill out some information about you or your child,
            and we'll get back to you in <span class="acuo-green text-nowrap">1-3</span> business days.</h5>
        <br><br>
        <p class="">Student's Full Name </p>
        <input class="" type="text" value="" placeholder="John Smith (First, Last)" name="fullname"
               style="width: auto" id="fullname">
        <br><br>
        <p class="">Email</p>
        <input class="" type="text" value="" placeholder="johnsmith@gmail.com" name="email"
               style="width: auto" id="email">
        <br><br>
        <p class="">Phone Number</p>
        <input class="" type="text" value="" placeholder="(604)-001-0002" name="phone"
               style="width: auto" id="phone">
        <br><br>
        <p class="py-4" style="float: left; ">I am a</p>
        <div class="input-field px-3 s12 d-inline-block" id="type">
            <select name="type" form="registration_form">
                <option value="" selected>Choose your option</option>
                <option value="1">Parent</option>
                <option value="2">Student</option>
            </select>
        </div>
        <br><br>
        <p class="">What will your grade be for the September of this year?</p>
        <div class="input-field s12" id="grade">
            <select name="grade" form="registration_form">
                <option value="" selected>Choose your grade</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>

        <p class="py-4" style="float: left; ">I am interested in</p>
        <div class="input-field s12 d-inline-block px-3" id="service">
            <select multiple name="service" form="registration_form">
                <option value="1" selected>General Instruction</option>
                <option value="2">Standardized Testing Preparation (AP/SAT)</option>
                <option value="3">College Admissions Consultation</option>
                <option value="4">Personal Profile Development</option>
                <option value="5">Other</option>
            </select>
        </div>
        <br><br>
        <p class="">You can give a link to your Resume or CV.</p>
        <input class="px-3 d-inline-block" type="text" placeholder="https://drive.google.com/file/d/1234asdf"
               name="resume" id="resume">
        <br><br>
        <p>
            Any other questions?
        </p>
        <textarea id="questions" name="questions" class="materialize-textarea"
                  placeholder="Additional questions..."></textarea>
        <br><br>
        <div class="py-5">
            <button  data-sitekey="6LcHI_sUAAAAAIlWML-WH1wHMP2XOmjsi1o8ReAV" data-callback="submit" data-action="submit" style="cursor: pointer" class="button-green g-recaptcha">SUBMIT</button>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"
        integrity="sha256-hBMojZuWKocCflyaG8T19KBq9OlTlK39CTxb8AUWKhY=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
 <script src="https://www.google.com/recaptcha/api.js"></script>
<script src="../js/materialize.min.js"></script>
<script src="../js/main.js"></script>
<script>
    $(document).ready(function () {
        $('select').formSelect();
    });


    $('textarea, input, .input-field').hover(function () {
        if (!$(this).prev()[0].classList.contains("warning-red")) {
            $(this).prev()[0].classList.add("acuo-green")
        }
    }, function () {
        if (!$(this).prev()[0].classList.contains("warning-red")) {
            $(this).prev()[0].classList.remove("acuo-green")
        }
    })

    function validURL(str) {
        var pattern = new RegExp('^(https?:\\/\\/)?' + // protocol
            '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|' + // domain name
            '((\\d{1,3}\\.){3}\\d{1,3}))' + // OR ip (v4) address
            '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*' + // port and path
            '(\\?[;&a-z\\d%_.~+=-]*)?' + // query string
            '(\\#[-a-z\\d_]*)?$', 'i'); // fragment locator
        return !!pattern.test(str);
    }

    function getFormData(dom_query) {
        var out = {};
        var s_data = $(dom_query).serializeArray();
        //transform into simple data/value object
        for (var i = 0; i < s_data.length; i++) {
            var record = s_data[i];
            out[record.name] = record.value;
        }
        return out;
    }

    function validate_responses() {
        values = getFormData($('#registration_form'))
        console.log(values)
        invalid = []
        for (key in values) {
            console.log(values[key])
            if (!values[key] && key !== 'questions' && key !== 'resume') {
                $('#' + key).prev()[0].classList.add("warning-red");
                invalid.push(key)
            } else {
                $('#' + key).prev()[0].classList.remove("warning-red");
            }
        }
        if (!invalid.includes("email")) {
            $.ajax({
                type: "GET",
                url: "/valemail?email=" + values["email"],
                success: function (data) {
                    $('#email').prev()[0].classList.add("warning-red");
                    if (!data["format_valid"]) {
                        Swal.fire({
                            position: 'top',
                            icon: 'error',
                            title: 'Invalid email format.',
                            showConfirmButton: false,
                            timer: 2000,
                            backdrop: false,
                            toast: true,
                            customClass: {
                                border: '5px solid black'
                            }
                        })
                    } else if (!data["smtp_check"] || !data["mx_found"]) {
                        Swal.fire({
                            position: 'top',
                            icon: 'error',
                            title: 'Email does not exist.',
                            showConfirmButton: false,
                            timer: 2000,
                            backdrop: false,
                            toast: true,
                            customClass: {
                                border: '5px solid black'
                            }
                        })
                    } else {
                        $('#email').prev()[0].classList.remove("warning-red");
                    }

                },
                contentType: "application/json; charset=utf-8"
            });
        }
        if (!invalid.includes("phone")) {
            $.ajax({
                type: "GET",
                url: "/valphone?phone=" + values["phone"],
                success: function (data) {
                    $('#phone').prev()[0].classList.add("warning-red");
                    if (!data["valid"]) {
                        Swal.fire({
                            position: 'top',
                            icon: 'error',
                            title: 'Invalid phone number.',
                            showConfirmButton: false,
                            timer: 2000,
                            backdrop: false,
                            toast: true,
                            customClass: {
                                border: '5px solid black'
                            }
                        })
                    } else {
                        $('#phone').prev()[0].classList.remove("warning-red");
                    }

                },
                contentType: "application/json; charset=utf-8"
            });
        }
        if (values['resume']) {
            $('#resume').prev()[0].classList.add("warning-red");
            if (!validURL(values["resume"])) {
                Swal.fire({
                    position: 'top',
                    icon: 'error',
                    title: 'Invalid URL for your resume.',
                    showConfirmButton: false,
                    timer: 2000,
                    backdrop: false,
                    toast: true,
                    customClass: {
                        border: '5px solid black'
                    }
                })
            } else {
                $('#resume').prev()[0].classList.remove("warning-red");
            }
        }

        return invalid.length === 0
    }

    function submit(token) {
        Swal.fire({
            title: 'Saving your information...',
            allowOutsideClick: false,
            allowEscapeKey: false,
            allowEnterKey: false,
            onBeforeOpen: () => {
                Swal.showLoading()
            },
            onClose: () => {
                clearInterval(timerInterval)
            }
        }).then((result) => {

        })
        if (validate_responses()) {
            console.log(JSON.stringify($('#registration_form').serializeArray()))
            $.ajax({
                type: "POST",
                url: "/add",
                data: JSON.stringify($('#registration_form').serializeArray()),
                success: function () {
                    Swal.fire({
                        icon: 'success',
                        title: "Your response has been submitted successfully.",
                        html: '<span style="color: black">We\'ll get back to you in 1-3 business days.</span>',
                        footer: '<a href="/" style="color: dodgerblue">Go back to the home page</a>'
                    })
                },
                error: function (xhr) {
                    if (xhr.status === 422) {
                        Swal.fire({
                            icon: 'error',
                            title: "One of your responses is invalid.",
                            html: '<span style="color: black">Double check your responses.</span>',
                            footer: '<a href="/" style="color: dodgerblue">Go back to the home page</a>'
                        })
                    }else if (xhr.status === 403) {
                        Swal.fire({
                            icon: 'error',
                            title: "You are a robot.",
                            html: '<span style="color: black">Beep boop bop.</span>',
                            footer: '<a href="/" style="color: dodgerblue">Go back to the home page</a>'
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: "Something went wrong when submitting your response.",
                            html: '<span style="color: black">Try again in a few minutes, or email <a style="color: #00c49d" href="mailto:support@acuo.ca">support@acuo.ca</a>.</span>',
                            footer: '<a href="/" style="color: dodgerblue">Go back to the home page</a>'
                        })
                    }

                },
                contentType: "application/json; charset=utf-8"
            });
        }
    }

</script>
</body>
</html>
