<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acuo</title>
    <link rel="icon" href="../assets/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Primary Meta Tags -->
    <meta name="title" content="Acuo">
    <meta name="description" content="Acuo Consulting is an education consulting firm that works directly with students to hone them to their fullest potential. By connecting youth to high-quality opportunities and offering extensive instructional services, we provide a comprehensive service that can enhance a student’s personal profile in every stage of their highschool venture. Acuo’s focus on specialized instruction, personalized advising and flexible curricula allows our programs to suit your individual needs in a way that others will be unable to match.
">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://acuo.ca/">
    <meta property="og:title" content="Acuo Consulting">
    <meta property="og:description" content="Acuo Consulting is an education consulting firm that works directly with students to hone them to their fullest potential. By connecting youth to high-quality opportunities and offering extensive instructional services, we provide a comprehensive service that can enhance a student’s personal profile in every stage of their highschool venture. Acuo’s focus on specialized instruction, personalized advising and flexible curricula allows our programs to suit your individual needs in a way that others will be unable to match.
">
    <meta property="og:image"
          content="https://raw.githubusercontent.com/AcuoConsulting/acuoconsulting.github.io/master/assets/acuo-fb-cover.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://acuo.ca/">
    <meta property="twitter:title" content="Acuo Consulting">
    <meta property="twitter:description" content="Acuo Consulting is an education consulting firm that works directly with students to hone them to their fullest potential. By connecting youth to high-quality opportunities and offering extensive instructional services, we provide a comprehensive service that can enhance a student’s personal profile in every stage of their highschool venture. Acuo’s focus on specialized instruction, personalized advising and flexible curricula allows our programs to suit your individual needs in a way that others will be unable to match.
">
    <meta property="twitter:image"
          content="https://raw.githubusercontent.com/AcuoConsulting/acuoconsulting.github.io/master/assets/acuo-fb-cover.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/timeline.css">
    <link rel="stylesheet" type="text/css" href="../css/materialize.css">
    <style>
        p {
            transition: color 0.3s ease-in-out;
        }

        * {
            text-overflow: ellipsis;
        }

        span {
            color: #00c49d;
        }

        #main-container {
            width: 40%;
        }

        @media screen and (max-width: 800px) /* height >= 820 px */ {
            #main-container {
                width: 90%;
            }
        }
    </style>
</head>
<body style="background-color: #1a1a1a">

<div class="container text-center p-5">
    <a href="/"><img src="../assets/logo.svg" style="width: 5vw"></a>
    <br><br><br>
    <a href="/"><img src="../assets/icons/arrow-left.svg" style="height: 1vw" id="left-arrow"></a>
</div>

<div class="container py-2" id="main-container">
    <form id="registration_form">
        <h5>
            要开始使用<span class="acuo-green">Acuo</span>，请填写有关您或您的孩子的一些信息，我们会在<span
                    class="acuo-green text-nowrap">1-3</span>个工作日内为您提供<span class="acuo-green">免费咨询</span>，并与您联系。
        </h5>
        <br><br>
        <p class="">学生的全名</p>
        <input class="" type="text" value="" placeholder="John Smith (First, Last)" name="fullname"
               style="width: auto" id="fullname">
        <br><br>
        <p class="">电子邮件地址</p>
        <input class="" type="text" value="" placeholder="johnsmith@gmail.com" name="email"
               style="width: auto" id="email">
        <br><br>
        <p class="">电话号码</p>
        <input class="" type="text" value="" placeholder="604-888-8888" name="phone"
               style="width: auto" id="phone">
        <br><br>
        <p class="py-4" style="float: left; ">我是</p>
        <div class="input-field px-3 s12 d-inline-block" id="type">
            <select name="type" form="registration_form">
                <option value="" selected></option>
                <option value="1">家长</option>
                <option value="2">学生</option>
            </select>
        </div>
        <br><br>
        <p class="">学生在九月份的年级</p>
        <div class="input-field s12" id="grade">
            <select name="grade" form="registration_form">
                <option value="" selected></option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>

        <p class="py-4" style="float: left; ">我想要的服务是</p>
        <div class="input-field s12 d-inline-block px-3" id="service">
            <select multiple name="service" form="registration_form">
                <option value="1">课业辅导</option>
                <option value="2">SAT, ACT, SAT Subject Test辅导</option>
                <option value="3">AP考试辅导</option>
                <option value="4">大学申请咨询</option>
                <option value="5">个人履历拓展机会</option>
                <option value="6">其他的服务</option>
            </select>
        </div>
        <br><br>
        <p class="">学生简历的网址</p>
        <input class="px-3 d-inline-block" type="text" placeholder="https://drive.google.com/file/d/1234asdf"
               name="resume" id="resume">
        <br><br>
        <p>
            还有其他问题吗？
        </p>
        <textarea id="questions" name="questions" class="materialize-textarea"
                  placeholder="其他问题..."></textarea>
        <br><br>
        <div class="py-5">
            <button data-sitekey="6LcHI_sUAAAAAIlWML-WH1wHMP2XOmjsi1o8ReAV" data-callback="submit" data-action="submit"
                    style="cursor: pointer" class="button-green g-recaptcha">提交
            </button>
        </div>
    </form>
</div>

<div class="container text-center py-5">
    <p>
        如果您有任何问题，请发送电子邮件至 <u><a href="mailto:contact@acuo.ca"> contact@acuo.ca</a></u>
    </p>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"
        integrity="sha256-hBMojZuWKocCflyaG8T19KBq9OlTlK39CTxb8AUWKhY=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="../js/materialize.min.js"></script>
<script src="../js/main.js"></script>

<script>
    $(document).ready(function () {
        $('select').formSelect();
    });

    function valemail(email) {
        re = /\S+\@\w+\.\S+/
        return re.test(email)
    }

    function valphone(phone) {
        re = /\d\d\d\-?\d\d\d\-?\d\d\d\d/
        return re.test(phone)
    }

    $('textarea, input, .input-field').hover(function () {
        if (!$(this).prev()[0].classList.contains("warning-red")) {
            $(this).prev()[0].classList.add("acuo-green")
        }
    }, function () {
        if (!$(this).prev()[0].classList.contains("warning-red")) {
            $(this).prev()[0].classList.remove("acuo-green")
        }
    })

    function validURL(str) {
        var pattern = new RegExp('^(https?:\\/\\/)?' + // protocol
            '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|' + // domain name
            '((\\d{1,3}\\.){3}\\d{1,3}))' + // OR ip (v4) address
            '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*' + // port and path
            '(\\?[;&a-z\\d%_.~+=-]*)?' + // query string
            '(\\#[-a-z\\d_]*)?$', 'i'); // fragment locator
        return !!pattern.test(str);
    }

    function getFormData(dom_query) {
        var out = {};
        var s_data = $(dom_query).serializeArray();
        //transform into simple data/value object
        for (var i = 0; i < s_data.length; i++) {
            var record = s_data[i];
            out[record.name] = record.value;
        }
        return out;
    }

    function validate_responses() {
        values = getFormData($('#registration_form'))
        invalid = []
        for (key in values) {
            if (!values[key] && key !== 'questions' && key !== 'resume') {
                $('#' + key).prev()[0].classList.add("warning-red");
                invalid.push(key)
            } else {
                $('#' + key).prev()[0].classList.remove("warning-red");
            }
        }
        if (!invalid.includes("email")) {
            $('#email').prev()[0].classList.add("warning-red");
            if (valemail(values['email'])) {
                $('#email').prev()[0].classList.remove("warning-red");
            } else {
                invalid.push("email")
                Swal.fire({
                    position: 'top',
                    icon: 'error',
                    title: '电子邮件不合格',
                    showConfirmButton: false,
                    timer: 2000,
                    backdrop: false,
                    toast: true,
                    customClass: {
                        border: '5px solid black'
                    }
                })
            }
        }
        if (!invalid.includes("phone")) {
            $('#phone').prev()[0].classList.add("warning-red");
            if (valphone(values['phone'])) {
                $('#phone').prev()[0].classList.remove("warning-red");
            } else {
                invalid.push("phone")
                Swal.fire({
                    position: 'top',
                    icon: 'error',
                    title: '电话号码不合格',
                    showConfirmButton: false,
                    timer: 2000,
                    backdrop: false,
                    toast: true,
                    customClass: {
                        border: '5px solid black'
                    }
                })
            }
        }
        if (values['resume']) {
            $('#resume').prev()[0].classList.add("warning-red");
            if (!validURL(values["resume"])) {
                Swal.fire({
                    position: 'top',
                    icon: 'error',
                    title: '学生简历的网址不合格',
                    showConfirmButton: false,
                    timer: 2000,
                    backdrop: false,
                    toast: true,
                    customClass: {
                        border: '5px solid black'
                    }
                })
            } else {
                $('#resume').prev()[0].classList.remove("warning-red");
            }
        }
        if (!values["service"]) {
            $('#service').prev()[0].classList.add("warning-red");
        }
        return invalid.length === 0
    }

    function submit(token) {
        if (validate_responses()) {
            Swal.fire({
                title: '我们正在保存您的信息...',
                allowOutsideClick: false,
                allowEscapeKey: false,
                allowEnterKey: false,
                onBeforeOpen: () => {
                    Swal.showLoading()
                },
                onClose: () => {
                    clearInterval(timerInterval)
                }
            }).then((result) => {

            })
            $.ajax({
                type: "POST",
                url: "/add",
                data: JSON.stringify($('#registration_form').serializeArray()),
                success: function () {
                    Swal.fire({
                        icon: 'success',
                        title: "您的回复已成功提交。",
                        html: '<span style="color: black">我们会在1-3个工作日内与您联系。</span>',
                        footer: '<a href="/" style="color: dodgerblue">返回首页</a>'
                    })
                },
                error: function (xhr) {
                    if (xhr.status === 422) {
                        Swal.fire({
                            icon: 'error',
                            title: "您的回应不合格。",
                            html: '<span style="color: black">仔细检查您的回应。</span>',
                            footer: '<a href="mailto:contact@acuo.ca" style="color: dodgerblue">如果您认为这是一个错误，请发送电子邮件至contact@acuo.ca</a>'
                        })
                    } else if (xhr.status === 403) {
                        Swal.fire({
                            icon: 'error',
                            title: "你是一个机器人。",
                            html: '<span style="color: black">🤖🤖🤖</span>',
                            footer: '<a href="mailto:contact@acuo.ca" style="color: dodgerblue">如果您认为这是一个错误，请发送电子邮件至contact@acuo.ca</a>'
                        })
                    } else if (xhr.status === 401) {
                        Swal.fire({
                            icon: 'error',
                            title: "你以前来过这里！",
                            html: '<span style="color: black">这个电子邮件已被使用过.<span>',
                            footer: '<a href="mailto:contact@acuo.ca" style="color: dodgerblue">如果您认为这是一个错误，请发送电子邮件至contact@acuo.ca</a>'
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: "提交您的回复时出现问题。",
                            html: '<span style="color: black">请在几分钟后重试，或发送电子邮件至<a href="mailto:contact@acuo.ca" style="color: dodgerblue">contact@acuo.ca</a></span>',
                            footer: '<a href="/" style="color: dodgerblue">返回首页</a>'
                        })
                    }

                },
                contentType: "application/json; charset=utf-8"
            });
        }
    }

</script>
</body>
</html>
